{% extends 'base.html.twig' %}

{% block body %}

	<div class="container">
		<ol class="breadcrumb">
			<li><a href="{{path('index')}}">Beranda</a></li>
			<li>Berita</li>        
		</ol>
	</div>
	<section class="sub-title">
      <div class="container">
		<div class="row">
	          <div class="col-md-5 col-xs-12">
	            <h2>Berita</h2>
	          </div>
	     </div>
       </div>
	</section>
	<div class="container">
	    <div class="row">
	    	<div class="col-md-10 col-md-offset-1 wow fadeInUp" data-wow-duration="1.5s" style="visibility: hidden">
		        <div class="panel panel-default">
			      <div class="panel-heading"><h4>Progress Pembangunan Perumahan Green Bamboo Terrace</h4></div>
			      <div class="panel-body">
			      	<p class="text-muted">23/08/2018</p>
			      	<div class="row">
			      		<div class="col-md-4">
			      			<center><img class="img-responsive" src="{{ asset('assets/img/unnamed.jpg') }}" style="max-width: 90%;"></center>
			      		</div>
			      		<div class="col-md-4">
			      			<center><img class="img-responsive" src="{{ asset('assets/img/unnamed (1).jpg') }}" style="max-width: 90%;"></center>
			      		</div>
			      		<div class="col-md-4">
			      			<center><img class="img-responsive" src="{{ asset('assets/img/unnamed (2).jpg') }}" style="max-width: 90%;"></center>
			      		</div>
			      	</div>
			      	<p>Langkah baru ditunjukkan oleh PT. Kebun Bambu Jakarta dalam menggarap proyek terbarunya di Tajur Bogor, yaitu perumahan modern Green Bamboo Terrace. Proses pembangunan telah dimulai dan unit segera dipasarkan. Dapatkan NUP hanya denan harga Rp 5.000.000</p>
			      </div>
			    </div>
		    </div>
		   
	    </div>
	</div>

{% endblock body %}